header {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

nav {
    background-color: greenyellow;
    text-align: center;
}

div.orange {
    background-color: orange;
}

div.imagenes {
    display: inline;
}

footer {
    background-color: blue;
    position: relative;
    top: -16px;
}

p.yellow {
    background-color: yellow;
    width: 220px;
    height: 20px;
    color: blue;
    text-align: center;
}


